.favorites {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 8px 90px 5px 8px;
    background-color: rgba(187,187,187, 0.8);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    z-index: 1000;

    & > * {
        margin-right: 5px;
        margin-bottom: 3px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.favorite {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    & > * {
        margin-right: 5px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.remove {
    &:hover {
        color: red;
    }
}
