.chart {
    height: auto;
    margin: 5px;
    border: solid 1px #d4d4d4;
    position: relative;
    box-shadow: 0 5px 8px 0 rgba(34, 60, 80, 0.2);
}

.header {
    display: flex;
    flex-flow: row nowrap;
    padding: 5px;
    justify-content: space-between;
}

.controls {
    & > * {
        margin-right: 10px;
        color: gray;
        cursor: pointer;

        &:hover {
            color: black;
        }
    }
}
