.chart {
    width: 620px;
    height: 520px;
    margin: 5px;
    border: solid 1px gray;
    position: relative;
}

.header {
    display: flex;
    flex-flow: row nowrap;
    padding: 5px;
    justify-content: space-between;
}

.controls {
    & > * {
        margin-right: 10px;
        color: gray;
        cursor: pointer;

        &:hover {
            color: black;
        }
    }
}
