.chart {
    height: auto;
    margin: 5px;
    border: solid 1px #d4d4d4;
    position: relative;
    overflow: hidden;
    box-shadow: 0 5px 8px 0 rgba(34, 60, 80, 0.2);
}

.header {
    display: flex;
    flex-flow: row nowrap;
    padding: 5px;
    justify-content: space-between;
}

.controls {
    & > * {
        margin-right: 10px;
        color: gray;
        cursor: pointer;

        &:hover {
            color: black;
        }
    }
}

.blinkChartBorder {
    animation: blinkChartBorder 0.5s step-end infinite alternate;
}

@keyframes blinkChartBorder {
    50% {
        border-color: #ff0000;
        box-shadow: 0 5px 8px 0 rgba(255, 0, 0, 0.4);
    }
}
