.card {
    cursor: pointer;
    margin-bottom: 5px;

    &:last-child {
        margin-bottom: 0;
    }

    &:hover {
        box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    }
}

.controls {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;

    & > * {
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }
}
