html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.charts {
  display: flex;
  flex-flow: row wrap;
  padding-bottom: 180px;
}

.chart {
  width: 620px;
  height: 490px;
  margin: 5px;
  border: solid 1px gray;
}

.check {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: auto;
  background-color: #e6e8ec;
  z-index: 100;
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
}

.symbol {
  margin-right: 5px;
  margin-bottom: 5px;
}

.symbol a {
  margin-right: 3px;
}

.symbol a.notChecked {
  color: #ff0000;
}

.symbol a.checked {
  color: #00e704;
}


.symbol span {
  cursor: pointer;
  margin-right: 3px;
}
